body{
    display: grid;
    grid-template-areas: "nav nav nav"
                         "banner banner banner"
                         "main main main"
                         "aside aside aside"
                         "section section section"
                         "footer footer footer";
    grid-template-columns: 33.3vw 33.3vw 33.3vw;
    margin: 0;
}
nav{
    grid-area: nav;
    height: 9px; 
    display: flex; 
    background-color: #31da7a;
}

header{
    grid-area: banner;
    background-image: url('../imagens/banner.png');
    background-size: 1365px 510px;
    display: flex;
    justify-content: center;
    height: 510px;
    width: 100%;

}
main{
    grid-area: main;
}

aside{
    background-color: #e3e3e3;
    display: flex;
    grid-area: aside;
    height: 360px;
    justify-content: center;
}
section{
    text-align: center;
    grid-area: section;
    background-color: white;
    height:300px;
}

section.redes{

}
footer{
    align-items: center;
    background-color: #e3e3e3;
    display: flex;
    grid-area: footer;
    height: 100 px;
    justify-content: space-around;
}

footer a{
    color: grey;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 12pt
}


main{    
    grid-area: banner;
    
}

nav{
    grid-template-areas: nav;
    background-color: rgb(0,128,0);
  
   
}

h3{
    display: flex;
    font-family: 'Segoe UI';
    font-size: 20px;
    justify-content: center;

}