body{
    display: grid;
    grid-template-areas:   "nav"
                            "banner"
                            "main"
                            "getNotify"
                            "membros"
                            "footer";
    grid-template-columns: 99vw;
    grid-template-rows: 1vh 70vh 28vh 38vh 38vh 9vh;
    margin: 0;
}
.botao{
    color: white;
    background-color: rgb(47, 141, 47);
    border: none;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Montserrat', sans-serif;
    height: 27px;
    width: 65px;
}
.beneficios img{
    background-color: green;
    display: flex;
    border-radius: 50px;
}
.campo{
    font-family: 'Montserrat', sans-serif;
    border: none;
    height: 25px;
}

.emailGN{
    align-items: center;
    display: flex;
    justify-content: center;
}
footer{
    align-items: center;
    background-color: #e3e3e3;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    grid-area: footer;
    justify-content: space-around;
    margin: none;
    text-decoration: none;
}

footer a{
    color: grey;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 11pt;
    margin: 10px;
}
.getNotify{
    font-family: 'Montserrat', sans-serif;
    background-color: #e3e3e3;
}
h1{
    color: white;
    font-family:  'Pacifico', cursive;
    font-size: 40pt;
}
header{
    grid-area: banner;
    background-image: url('../imagens/banner.png');
    background-repeat: no-repeat;
    display: flex;
}
.iconesBanner{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
main{
    background-color: #e3e3e3;
    display: grid;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    grid-template-areas:    'grid1'
                            'grid2'
                            'grid3';
    grid-auto-rows: 33% 33% 33%;
}
main div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h2{
    color: rgb(43, 42, 42);
    font-size: 10pt;
}
.membros{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-justify: center;
    grid-area: membros;
    background-color: #f8f8f8;
}
.membros p{
    color: #a1a0a0;
    font-size: 12px;
    margin: 10px 60px;
}
.membros h4{
    text-decoration: none;
    margin: none;
    color: #333333;
    font-size: 13px;
}
.membros h3{
    color: #333333;
}
main img{
    background-color: green;
    border-radius: 50%;
    height: 20px;
    padding: 10px;
}
main p{
    color: rgb(82, 80, 80);
    text-align: center;
}
#maoBanner{
    display: none;
}
nav{
    grid-area: nav;
    background-color: #31da7a;
}
nav{
    grid-template-areas: nav;
    background-color: rgb(0,128,0);
}
section{
    display: grid;
    grid-area: getNotify;
    grid-template-areas:    'getNotify'
                            'video';
}
.textoBanner{
    font-family: 'Montserrat', sans-serif;
    padding: 3px;
    text-align: center;
}
.textoBanner p{
    color: white;
    font-size: 10pt;
    margin: 0;
}
.textoGN{
    color: #868585;
    font-size: 12px;
    text-align: center;
}
.tituloGN{
    color: rgb(51, 51, 51);
    font-size: 20px;
    padding-bottom: 0;
    text-align: center;
}
.video{
    align-items: center;
    background-color:#e3e3e3;
    display: flex;
    justify-content: center;
    justify-items: space-evenly;
}